extends layout.jade

block content

    include templates/user-dashboard.jade
    include templates/push-method.jade
    include templates/bypass-method.jade
    include templates/totp-method.jade
    include templates/webauthn-method.jade
    include templates/random_code-method.jade
    include templates/random_code_mail-method.jade
    include templates/manager-dashboard.jade
    include templates/user-view.jade
    include templates/admin-dashboard.jade
    include templates/home.jade
    include templates/esupnfc-method.jade
    include templates/transportForm
    #app.container
        header(v-if="messages.api")
            nav(role="header")#target.top-nav
                .container
                    button#navButton.button-collapse.top-nav.btn-flat(href='#', data-activates='slide-out', onclick="toggle_visibility('slide-out')", :title="messages.api.action.show_menu")
                        i#target.material-icons menu
                    .nav-wrapper
                        span.page-title(role="heading", aria-level="1") {{messages.api.menu[currentView]}}
            ul(role="navigation")#slide-out.side-nav.fixed.may-be-hidden
                .no-padding.sidenav-header
                    .flex
                    #hide.flex()
                        i.material-icons.medium(aria-hidden="true") account_circle
                        p {{user.uid}}
                        button#closebtn(onclick="hide('slide-out');", class="btn-flat", :title="messages.api.action.hide_menu")
                            i.material-icons(aria-hidden="true") close
                li.bold
                    a#home(href='#', @click='navigate', name = 'home') {{messages.api.menu.home}}
                    li.no-padding
                        ul.collapsible.collapsible-accordion(data-collapsible='accordion')
                            li
                                details
                                    summary.collapsible-header {{messages.api.menu.preferences}}
                                    ul.collapsible-body
                                        li.bold(v-for='method in methods', v-show='method.activate && method.authorize')
                                            a(href='#', @click='navigate', :id='method.name', :name='method.name') {{method.label || method.name}}
                    if right == "manager" || right == "admin"
                        li.bold
                            a#manager(href='#', @click='navigate', name='manager') {{messages.api.menu.manager}}
                    if right == "admin"
                        li.bold
                            a#admin(href='#', @click='navigate', name='admin') {{messages.api.menu.admin}}
                    .divider
                    li.bold.flex.waves-effect(style='display: flex !important;')
                        i.material-icons.prefix(aria-hidden="true") exit_to_app
                        a(href='/logout') {{messages.api.action.logout}}
                    .divider
                    li.no-padding
                        ul.collapsible.collapsible-accordion(data-collapsible='accordion')
                            li
                                details
                                    summary.collapsible-header
                                        a
                                            i.material-icons language
                                    ul.collapsible-body
                                        li.bold
                                            a(href='#', @click="getMessages('fr')", lang="fr") Français
                                        li.bold
                                            a(href='#', @click="getMessages('en')", lang="en") English
        main
            .container
                component(:is='currentView', :methods='methods', :messages='messages', :infos='infos', :current_view.sync='currentView', :currentmethod='currentMethod', :user='user' :get_user='getUser')


block script
    script(type='text/javascript', src='/javascripts/app.js')