script#random_code_mail-method(type='text/x-template').
   <div class="section">
    <div class="card" style="max-width: 500px;margin: auto;margin-bottom: 15px;">
     <transport-form :user=user :messages=messages :infos=infos transport="mail" inputType="email" :saveTransport=saveTransport :deleteTransport=deleteTransport />
    </div>
    </div>
