script#user-dashboard(type='text/x-template').
   <div>
      <div class="section method-section" v-for="method in methods" v-if="method.activate && currentmethod==method.name" autofocus aria-live="assertive">
         <div class="method-header">
            <h2 class="h3">{{method.label || method.name}}</h2>
            <p>
               {{messages.api.methods[method.name].description}}
            </p>
         </div>
        <div class='switch'>
          <label>
            {{messages.api.action.deactivate}}
            <input type='checkbox' :id="method.name+'_switch'" @click.prevent="user.methods[method.name].active ? deactivate(method.name) : activate(method.name)" :name="method.name" role="switch" :aria-label="method.label" :checked="user.methods[method.name].active"/>
            <span class='lever'></span>
            {{messages.api.action.activate}}
          </label>
        </div>
         <div class="divider"></div>
         <div class="method-component-wrapper" v-if="user.methods[method.name].active || typeof(user.methods[method.name].activationCode)=='string'">
            <component :is=currentmethod :methods=methods :generate_totp=generateTotpConfirm :generate_bypass=generateBypassConfirm :generate_passcode_grid=generatePasscodeGridConfirm :get_user=get_user :messages=messages :infos=infos :user=user :formatApiUri=formatApiUri></component>
         </div>
      </div>
   </div>
