html, body {
    visibility: hidden;
    text-align: center;
}

.passcode_grid-method-codes {
    visibility: visible;
    width: 85.60mm;
    height: 53.98mm;
    left: 10mm;
    top: 10mm;
    position: absolute;
    border: 1px solid lightgray;
    border-radius: 3.175mm;
    font-size: 0.6em;
}

/* To print on a CR80 printer (credit card format) uncomment block below */
/*
html, body {
    height:100%; 
    overflow: hidden;
}

.passcode_grid-method-codes {
    left: 1mm;
    top: 1mm;
    font-weight: bold;
    border: 0;
}
*/

table {
    border-spacing: 0.4em 0.3em;
    border-bottom: 1px solid lightgray;
}

th[scope] {
    border: 1px solid;
    font-size: 1em;
}

caption {
    font-size: 1em;
}
