

/*  OTP manager style commun - 2 déc ******/

html,
body,
#app {
    position: relative;
    width: 100%;
    min-width: 100%;
    padding: 0;
    margin: 0;
    font-family: "Roboto", arial, sans-serif;
}
 

header,
main,
footer {
    padding-left: 245px;  
}

.side-nav.fixed { width: 245px; }  


.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-nav {
    box-shadow: none;
    font-size: 32px;
    -webkit-font-smoothing: antialiased;
}

#slide-out{
    -webkit-transform: none;
}

@media only screen and (max-width: 992px) {
    header,
    main,
    footer {
        padding-left: 0;
    }
}

@media only screen and (min-width: 992px) {
    .nav-wrapper {
        display: initial;
        align-items: initial;
        justify-content: initial;
    }
}

nav {
    background-color: #424242 ;
}
header { background:#424242; }


.sidenav-header {
     background-image: url("../images/wallpaper_polygons.jpg") !important;
     background-size: 150% 500%;
     background-repeat: no-repeat;
    color: white !important;
}

.sidenav-header a {
    background-color: #424242 !important;
    color: white !important;
    height: initial !important;
    line-height: initial !important;
}
.sidenav-header #closebtn {
    background-color: rgba(76, 175, 80, 0) !important;
    color: white ;
    height: initial !important;
    text-align: right;
    font-size: 21px;
    line-height: initial !important;
    margin: 0px 0 32px 74px;
}

.flex {
    display: flex;
    align-items: center;
    padding: 12px;
}


.btn:hover, .btn-large:hover {
  background-color: #2bbbad;
   filter: brightness(1.25);
}


/*****************************************
Switch
*****************************************/
.Switch {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 1.6em;
    font-weight: bold;
    color: #ccc;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8);
    height: 14px;
    padding: 6px 6px 5px 6px;
    border-radius: 4px;
    cursor: pointer;
}

body.IE7 .Switch {
    width: 78px;
}

.Switch span {
    display: inline-block;
    width: 35px;
}

.Switch span.On {
    color: #33d2da;
}

.Switch .Toggle {
    position: absolute;
    top: -4px;
    width: 37px;
    height: 25px;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
}

.Switch.On .Toggle {
    left: 54%;
}

.Switch.Off .Toggle {
    left: 2%;
}

/* Round Switch */
.Switch.Round {
    padding: 0px 20px;
    border-radius: 40px;
    margin-left:10px;
    margin-right:10px;
}

body.IE7 .Switch.Round {
    width: 1px;
}

.Switch.Round .Toggle {
    border-radius: 50%;
    width: 22px;
    height: 22px;
}

.Switch.Round.On .Toggle {
    left: 64%;
    background-color:#26a69a;
}

.Switch.Round.Off .Toggle {
    left: -14%;
    background-color: #BDBDBD;
}

.Switch.Round.On {
    background-color: #84c7c1;
}

.Switch.Round.Off {
    background-color: #818181;
}

.TransportSwitch.Round.On {
    background-color: #84c7c1;
}

.TransportSwitch.Round.Off {
    background-color: #818181;
}

#closebtn {
    float: right;
}


#slide-out { border: 1px solid #ccc; color: #444; } 

#slide-out  li.active { background-color: #26a69a; }

#slide-out  li.active #home { color:white ; }

#slide-out .collapsible-header  {
    background-color : #eeeef0;  
    border-bottom: 1px solid #ddd; 
    border-top: 1px solid #ddd; 
    margin: 0;
    text-transform: uppercase;
}


/* Page d'Accueil et les blocs méthodes */ 

.container {width: 86%; max-width: 1200px} 



.flex-container {
  display: flex; 
  flex-wrap: wrap;
  margin-top: 19px; 
}


.methode { 
	 margin  : 7px; 
	 margin-top:9px; 
	 padding:  4px 11px 18px 14px;   
	 background : #eeeef0;   
	 width:31% !important;  
	 color : #00326e ; 
}

 
.methode:hover { box-shadow: 0px 2px 2px 2px rgba(0,0,0,0.16), 2px 2px 10px 1px rgba(0,0,0,0.22); color : #2055aa}
.methode p { text-align: center; margin-bottom:0px; margin-top:10px;  }
.methode img {  padding: 0px; margin:0px; width:88px; }
.lock-solid { width:110px; margin: 0px 30px 0px 30px; }

.card { padding-top:25px;  background-color: #eeeef0; } 
.input-field label { top: 2rem; top:1rem; left: 10px; }

.swal2-input{
    width: 10ch !important;
    -moz-appearance: textfield; /* https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp */
    box-sizing: border-box !important;
    margin: 0 auto !important;
}

/* https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp */
.swal2-input::-webkit-outer-spin-button,
.swal2-input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

@media only screen and (min-width: 701px) {  
             .container {width: 86%; max-width: 1200px} 
}

@media only screen and (max-width: 700px) {
    .methode {  width:46% !important; }
    .methode img { width:70px; }
    .lock-solid { width:130px; margin: 3px 15px 0px ; }
}

@media only screen and (max-width: 480px) {
    .methode { width:96% !important ; }
    .methode img { width:60px; } 
}


@media only screen and (max-width: 992px) {
    .sidenav-header a#closebtn {
         --margin: 0 !important;  
          color: #bbb !important;
    }
    .sidenav-header a#closebtn:hover { 
          color: #000 !important;
    } 
}

.methode  {

    border: 1px solid #eee;
}
.methode:hover {

    border: 1px solid #aaa;
    cursor: pointer;
}
.btn, .btn-large {
  background-color: #00326e;
}
  
.btn:hover, .btn-large:hover {
/* background-color: #2bbbad; */
   background: #00326e;
   filter: brightness(1.45);
}


/********/

.method-section .method-header {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin-bottom: 1em;
}

.method-section .method-header * {
    margin: 0;
}

.method-section .method-component-wrapper {
    margin-top: 1em;
}

/******/

kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
    color: #333;
    display: inline-block;
    font-size: 0.85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
}


#list-of-authenticators {
    border: 0;
    box-shadow: none;
    
    display: flex; 
    flex-direction: column; 
    gap: 1em; 
    
    max-width: 40em;
}

#list-of-authenticators li {
    width: 100%;
    display: flex;
    justify-content: center;
}

#add-authenticator {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.authenticator-tag {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    
    border-radius: 4px;
    
    height: 4em;

    width: 100%;

    transition: width 1s ease;

    --current-border-color: #818181;
    --current-border-width: 1px;
    border: var(--current-border-color) solid var(--current-border-width);
    --tag-border-radius: 0.5em;
    border-radius: var(--tag-border-radius);

}

.authenticator-tag .authenticator-head {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    
    margin: 0;
    padding: 0 1em;
    border-radius: 4px;

    position: relative;
}


.authenticator-tag .authenticator-icon {
    font-size: 1.75em;
    padding: 0.25em;
}

.authenticator-tag .authenticator-title {
    margin: 0;
    font-size: 1.5em;
    white-space: nowrap;
    flex: 1;
    text-overflow: ellipsis;
    overflow-x: hidden;
    text-align: left;
    text-transform: initial;
}

.authenticator-tag .authenticator-action {
    padding: 0.25em 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    box-shadow: none;
}

.authenticator-tag .authenticator-action i {
    font-size: 1.5em;
}

.authenticator-tag .authenticator-title-input {
    font-size: 1.5em;
    padding-right: 0.5em;
    
    width: calc(100% - 1em);
    /* There is a 1px border on the input */
    height: 100%;
    border-bottom: none !important;
    box-shadow: none !important;
}

.authenticator-tag .authenticator-title-char-count {
    position: absolute;
    right: 0;
    top: 0;

    transform: translateY(-50%);

    padding: 0 0.5em;
    background-color: white;

    border-radius: var(--tag-border-radius);
    border: var(--current-border-color) solid var(--current-border-width);
} 

.authenticator-tag .authenticator-button-roundifier {
    min-width: fit-content;
    height: 100%;
    border-radius: 0 var(--tag-border-radius) var(--tag-border-radius) 0;
    overflow: hidden;

    display: flex;
}

.authenticator-tag .divider-left {
    border-left: var(--current-border-color) solid var(--current-border-width);
}



.center {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
